<div class="user-list-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Lista de productos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.id }}</td>
                        <td>{{ product.mark }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <button mat-icon-button (click)="editProduct(product)"
                                title="Modificar">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteProduct(product)" title="Eliminar">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>