.user-form-card {
    max-width: 500px;
    margin: 20px auto; /* Margen superior e inferior */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  mat-form-field {
    width: 100%; /* Full width para los campos de formulario */
    margin-bottom: 16px; /* Espacio entre los campos */
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior para los botones */
  }
  
  button {
    min-width: 120px; /* Ancho mínimo para los botones */
  }
  