<mat-card class="user-form-card">
  <mat-card-header>
    <mat-card-title>Crear producto</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput required [(ngModel)]="newProduct.mark" name="mark">
        <mat-error *ngIf="userForm.submitted && !newProduct.mark">La marca es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput required [(ngModel)]="newProduct.price" name="price">
        <mat-error *ngIf="userForm.submitted && !newProduct.price">El precio es requerido</mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Crear Producto</button>
        <button mat-raised-button color="warn">Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>